<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bitcoinlabs.android_dev"
      android:versionCode="4"
      android:versionName="0.0.4-SNAPSHOT">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="BitcoinDev" android:icon="@drawable/icon">
        <activity android:name=".Bitcoin" android:label="BitcoinDev" android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Receive" android:screenOrientation="portrait" android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".QrDisplay" android:screenOrientation="portrait" android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".ConfirmPay" android:screenOrientation="portrait" android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bitcoin" />
            </intent-filter>
        </activity>
        <service android:name=".OutpointService" android:label="Bitcoin Outpoint Service" android:process=":outpoint">
        </service>
    </application>
</manifest> 
